<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recruiters</title>
</head>
<body>

<h2>Recruiter List</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
    </tr>

    <tr th:each="rec : ${recruiterList}">
        <td th:text="${rec.id}"></td>
        <td th:text="${rec.name}"></td>
        <td th:text="${rec.email}"></td>
        <td th:text="${rec.company}"></td>
    </tr>

</table>

</body>
</html>