<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Job Seekers</title>
</head>
<body>
    <div th:if="${param.ResumeError}">
        The file is empty
    </div>
    <form th:action="@{/seeJobs}">
        <button type="submit">See Jobs</button>
    </form>

    <form th:if = "${jobSeeker.resume == null}"th:action="@{/uploadResume}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload Resume</button>
    </form>

    <form th:if = "${jobSeeker.resume != null}" th:action="@{/viewResume}" target="_blank">
<!--        target = blank opens this in a new tab-->
        <button type="submit">View Resume</button>
    </form>
    <form th:action="@{/seeApplicationHistory}">
        <button type="submit">See Application History</button>
    </form>

    <a th:href="@{/logout}">Logout</a>
</body>
</html>