<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Available Jobs</title>
</head>
<body>

<h2>Available Jobs</h2>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Location</th>
        <th>Salary</th>
        <th>Apply</th>
    </tr>

    <tr th:each="job : ${jobs}">
        <td th:text="${job.title ?: '-' }"></td>
<!--        this is equivalent to saying hai toh display krdo-->
        <td th:text="${job.description ?:  '-' }"></td>
        <td th:text="${job.location ?:  '-' }"></td>
        <td th:text="${job.salary ?:  '-' }"></td>
<!--        we want to add an apply button, also note that we would have to send back the job id-->
<!--        M1 : add in the link-->
<!--        M2 (better) : use hidden job id-->
        <td>
            <form th:action="@{/applyJob}" method="post">
                <input type="hidden" name="jobId" th:value="${job.id}">
                <button type="submit">Apply</button>
            </form>
        </td>
    </tr>
<!--    this will submit this to the backend-->
</table>

<br>

<a th:href="@{/jobSeekerDashboard}">Back to Dashboard</a>

</body>
</html>