<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Available Jobs</title>
</head>
<body>

<h2>Available Jobs</h2>
<table border="1">
    <tr th:each="job : ${jobs}">
        <td th:text="${job.title ?: '-'}"></td>
        <td th:text="${job.description ?: '-'}"></td>
        <td th:text="${job.location ?: '-'}"></td>
        <td th:text="${job.salary ?: '-'}"></td>

        <td>
            <form th:action="@{/applyJob}" method="post">
                <input type="hidden" name="jobId" th:value="${job.id}">
                <button type="submit">Apply</button>
            </form>
        </td>
    </tr>
</table>

<div>

    <a th:if="${currentPage > 0}"
       th:href="@{/seeJobs(page=${currentPage-1})}">
        Previous
    </a>

    <span th:each="i : ${#numbers.sequence(0, totalPages-1)}">
    <a th:href="@{/seeJobs(page=${i})}"
       th:text="${i+1}">
    </a>
</span>

    <a th:if="${currentPage < totalPages-1}"
       th:href="@{/seeJobs(page=${currentPage+1})}">
        Next
    </a>

</div>
<!--    this will submit this to the backend-->
</table>

<br>

<a th:href="@{/jobSeekerDashboard}">Back to Dashboard</a>

</body>
</html>