<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Recruiters</title>
</head>
<body>
<div th:if="${param.imageError}">
  The image is empty
</div>
<form th:action="@{/postJob}">
  <button type="submit">Post a Job</button>
</form>
<!--1) button does not support th:action, so use a form outside it-->
<!--2) we would need to give recruiter id to the backend, for this the best method is to use :-->
<!--authentication, since the user is logged in we can just use it.-->
<form th:action="@{/seePostedJobs}">
  <button type="submit">See Posted Jobs</button>
</form>

<div>Hi</div>
<div th:text="${recruiter.user.name}"></div>

<form th:if="${recruiter.profile == null}" th:action="@{/addProfilePicture}" method="post" enctype="multipart/form-data">
  <input type="file" name="file"/>
  <button type="submit">Add Profile Picture</button>
</form>
<!--post method,  multipart and input type=file is neccessary for uploading photo-->

<!--  to show the image :-->
<img th:if="${recruiter.profile != null}"
     th:src="@{photos/Recruiter/{file}(file=${recruiter.profile})}"
     width="150">
<!--  what this does is : attaches the link of the image, and then in file inserts our file name-->
<a th:href="@{/logout}">Logout</a>
</body>
</html>